@import url("https://fonts.googleapis.com/css2?family=Martel&family=Work+Sans:wght@500&display=swap");

:root {
  --color-1: #808080;
  --color-2: #d8bfaa;
  --color-3: #ebf5ee;
  --color-4: #bfd1e5;
  --color-5: #542344;

  --color-6: white;
  --color-7: black;
}

:root .darkMode {
  --color-1: #404040; /* Darker gray */
  --color-2: #9c7e6e; /* Darker brown */
  --color-3: #39463d; /* Darker greenish-gray */
  --color-4: #5a6e82; /* Darker blue-gray */
  --color-5: #ebbad9; /* Darker burgundy */

  --color-6: rgb(26, 26, 26);
  --color-7: rgb(214, 214, 214);
}

body {
  font-family: "Martel", serif;
  margin: 0 auto;
  max-width: 1300px;
  background-color: var(--color-3);
}

main {
  background-color: var(--color-6);
}

.title {
  margin: 0 auto;
  width: 70%;
  max-width: 500px;
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  color: var(--color-5);
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  margin-top: -20px;
}

.hero-home {
  width: 100%;
}

.hero img {
  width: 100%;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* For hamburger menu */
#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.75rem;
  background-color: #eee;
  color: #000;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.hide {
  display: none;
}

.login,
.join {
  position: relative;
  top: -100px;
  left: 30px;
  width: 100px;
  height: 50px;
  background-color: #542344;
  color: var(--color-6);
  margin-right: 20px;
  border: none;
}

.login:hover,
.join:hover {
  color: var(--color-7);
  background-color: var(--color-6);
}

#bannerButton {
  background-color: #542344;
  color: var(--color-6);
  border: none;
  width: 100px;
  height: 50px;
  position: relative;
  top: 110px;
  left: 10px;
}

#invitation-banner {
  position: sticky;
  top: -40px;
}

#bannerButton:hover {
  color: var(--color-7);
  background-color: var(--color-6);
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #333;
  color: #fff;
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
  display: block;
}

.active::before {
  content: "📍"; /* just a wayfinding symbol for the user */
}

/* End of stuff for hamburger menu */

.whenDark {
  filter: invert(1);
}

/* For dark mode button */
#dark-mode {
  font-size: 1.5rem;
  border: none;
  padding: 0.25rem 0.75rem;
  background: none;
  color: #000;
  position: absolute;
  top: 4rem;
  right: 0.2rem;
}

/* End of stuff for dark-mode menu */

.weather {
  width: 400px;
  height: 400px;
  background-color: var(--color-4);
  margin: 0 auto;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-7);
  line-height: 1.6;
}

#newsletter,
#weather-section {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-7);
}

/* For discovery page */

figure img {
  width: 100%;
  margin: 0 auto;
}

/* ------  FORM Form ------ */

.wf1 {
  display: block;
  grid-template-columns: auto auto;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.wf1 fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
}

.wf1 legend {
  color: var(--color-5);
  padding: 0 0.5rem;
}

.wf1 label {
  display: block;
  padding-top: 1rem;
  color: var(--color-7);
  font-size: 0.9rem;
}

.wf1 div {
  padding-top: 1rem;
  color: var(--color-5);
  font-size: 0.9rem;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 input[type="number"],
.wf1 select {
  background-color: #eee;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: #555;
  width: 90%;
  max-width: 300px;
  appearance: none;
}

.wf1 input[type="radio"] {
  margin-right: 6px;
}

.wf1 input[type="submit"] {
  border: none;
  background-color: var(--color-5);
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem;
  width: 96%;
  max-width: 300px;
  margin: -1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #999;
}

.wf1 input[type="submit"]:hover {
  background-color: var(--color-1);
}

.membershipDetails {
  width: 100%;
  max-width: 400px;
}

.membershipDetails h4 {
  text-align: left;
}

.benefits {
  margin-top: -30px;
}

/* ------  FORM Form END ------ */

/* ----- For Directory ------- */

.menu {
  margin: 0 auto;
  width: 300px;
}

.menu button {
  width: 100px;
  height: 50px;
  background-color: #542344;
  color: var(--color-6);
  margin-right: 20px;
  border: none;
  margin-top: 10px;
}

.menu button:hover {
  color: var(--color-7);
  background-color: var(--color-6);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 20px;
  margin: 0 auto;
  width: 96%;
  padding-bottom: 20px;
}

.grid img {
  margin: 0 auto;
  height: 200px;
  width: auto;
}

.grid section {
  width: 90%;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: 20px;
  text-align: center;
  background-color: var(--color-3);
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0.55rem;
  align-items: center;
}

.list h3 {
  font-size: 1.2rem;
  text-align: left;
}

.list p {
  text-align: left;
}

.list section img {
  display: none;
}

.list section:nth-child(even) {
  background-color: var(--color-4);
}

/* For Weather thingy */

#weather1 {
  display: grid;
  grid-template-columns: auto auto;
}

#weather2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  text-align: center;
}

figcaption {
  text-align: center;
}

#weather-icon {
  width: 80%;
  margin-top: -40px;
}
