main {
  display: grid;
  grid-template-columns: 400px;
  margin: 0 auto;
  width: 400px;
}

h1 {
  text-align: center;
}

img {
  background: #000;
  animation: fade 4s;
}

footer {
  text-align: center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
