:root {
    --max-width: 1240px;
    --powder-blue: #dddbcb;
    --tan: #f5f1e3;
    --cadet-gray: #ffffff;
    --beaver: #1b9aaa;
    --lion: #050505;
  }
  
  body {
    font-family: "Noto Serif";
    margin: 0 auto;
  }
  
  main img {
    width: 100%;
    height: auto;
  }
  
  .herolabel {
    position: absolute;
    top: 350px;
    left: 80px;
    background: radial-gradient(#fff, #ffffff);
    border: 1px solid rgba(0, 0, 0, 0.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
  }
  
  .herolabel p {
    margin: 0;
    padding: 0.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: serif;
  }
  
  header h1::first-letter {
    color: black;
    font-size: 4rem;
  }
  
  a {
    color: black;
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  header,
  main,
  nav {
    width: auto;
    margin: 0 auto;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--tan);
    max-width: var(--max-width);
    border: 3px solid black;
  }
  
  header img {
    width: 150px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 100%;
  }
  
  header h1 {
    text-align: center;
    padding: 1em;
    font-size: 2em;
    white-space: pre;
  }
  
  /* For hamburger menu */
  #menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.25rem 0.75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  #menu::before {
    content: "☰";
  }
  
  #menu.open::before {
    content: "❎";
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
  }
  
  .navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  .navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }
  
  /* when the button is clicked - the open class is toggled (added/removed) */
  .open a {
    display: block;
  }
  
  .active::before {
    content: "📍"; /* just a wayfinding symbol for the user */
  }
  
  /* End of stuff for hamburger menu */
  
  main {
    background-color: var(--beaver);
    margin-top: 0;
    margin: auto;
    max-width: var(--max-width);
    border: 3px solid black;
  }
  
  .map {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }
  
  main h2 {
    text-align: center;
    font-size: 3rem;
  }
  
  .card {
    background-color: var(--tan);
    border: 2px solid var(--lion);
  }
  
  .card h3 {
    text-align: center;
    background-color: #333;
    padding: 1em;
    color: white;
  }
  
  .card p {
    text-align: left;
    margin-left: 2rem;
  }
  
  ul {
    list-style-type: square;
    margin-left: 2rem;
  }
  
  footer {
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: center;
    background-color: var(--tan);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 3px solid black;
  }
  
  /* Weather */
  
  img#weather-icon {
    width: 60px;
  }
  
  #weather-figure {
    margin-left: 2rem;
    text-align: left;
  }
  
  #weather-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  
  .uno,
  .dos {
    text-align: right;
  }
  
  .uno {
    grid-column: 1/2;
  }
  
  .dos {
    grid-column: 2/3;
  }